:root {
    display: border-box;
    color: white;
    font-weight: bold;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

h1,
p {
    text-align: center;
    margin-top: 0;
}

button {
    background-color: green;
    color: white;
    font-size: large;
    padding: 10px;
    width: 20%;
    margin: 0 auto;
}

#playerIndicator {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkred;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 800px;
    background-color: yellow;
    margin: 0 auto;
}

.blackDisc {
    background-color: black;
    flex-grow: 1;
    border-radius: 50%;
}

.redDisc {
    background-color: red;
    flex-grow: 1;
    border-radius: 50%;
}

.column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: stretch;
}

.cell {
    background-color: blue;
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    border-radius: 50%;
    margin: 10px;
}

table {
    display: flex;
    flex-grow: 1;
}

tr {
    display: flex;
    flex-grow: 1;
}

tbody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    flex-grow: 1;
}

#playerDisc {
    width: 100px;
    height: 50px;
    top: 40%;
    display: flex;
    align-self: center;
    margin: 20px;
}

.black {
    background-color: black;
    flex-grow: 1;
    border-radius: 50%;
}

.red {
    background-color: red;
    flex-grow: 1;
    border-radius: 50%;
}

.blue {
    background-color: blue;
    flex-grow: 1;
    border-radius: 50%;
}